# Show where I'm copying
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"
alias ls="ls --color=auto -I \"*.plist\""
alias drag="dragon -a"
alias copy="xclip -selection clipboard"
alias clear-clipboard="xclip -sel clipboard < /dev/null"
alias sortips="sort -u -n -t . -k1,1 -k2,2 -k 3,3 -k 4,4"
alias dirtime="find . -type f -printf '%TY-%Tm-%Td %TH:%TM %P\n' | sort | tail -n 5"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias -g J='-J zbe@10.30.22.114'
alias -g F='-F zbe@10.30.22.114'
alias gs="git status"

# work
#alias run-project='build-project run'
#alias sync-project='build-project sync'
#alias work='cd /data/git/zbe'

# Tmux
alias tm="tmux -2"
alias tmkill="tmux kill-session"

# Flush DNS, so that /etc/hosts is reloaded
alias flushdns="sudo /etc/init.d/nscd restart; sudo /etc/init.d/dns-clean start; sudo service network-manager restart"
# Reload audio
alias audio="pulseaudio -k && sudo alsa force-reload"

function update_release {
    CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD);
    echo "current git branch: $CURRENT_BRANCH"
    g stash;
    g co master;
    g pull origin master;
    g co release;
    g pull origin release;
    g merge master;
    g push origin release;
    g co $CURRENT_BRANCH;
    g stash pop;
}
alias release=update_release

alias proto='protoc -I=bridge/protofile/ --python_out=bridge/protobuf/pb/ bridge/protofile/beeshop_db.proto; protoc -I=bridge/protofile/ --python_out=bridge/protobuf/pb/ bridge/protofile/beeshop_cmd.proto;'

alias bproto='protoc -I=bridge/protofile/ --python_out=bridge/protobuf/pb/ bridge/protofile/beeshop_db.proto; protoc -I=bridge/protofile/ --python_out=bridge/protobuf/pb/ bridge/protofile/beeshop_cmd.proto; protoc -I=bridge/protofile/ --python_out=bridge/protobuf/pb/ bridge/protofile/beeshop_mq.proto; protoc -I=bridge/protofile/ --python_out=bridge/protobuf/pb/ bridge/protofile/beeshop_search.proto;'
kill80() {
	sudo lsof -i :80 | grep 'apache2' | awk '{ print $2 }' | xargs sudo kill -9
	sudo lsof -i :80 | grep 'nginx' | awk '{ print $2 }' | xargs sudo kill -9
}

alias ']'='xdg-open'

# Dotfiles manager
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

