#!/bin/bash

jd() {
	local target="$@"
	if [[ $# -eq 0 ]]; then
		target=${PWD}
	fi

	local dir=$(find "$target" \
		-name "*" \
		-type d 2>/dev/null | sed 's@^\./@@' | fzf -d / --nth -1 --reverse -0 --cycle --height 100%)
	[[ -z $dir ]] || cd $dir
}

gjd() {
	local target="$@"
	if [[ $# -eq 0 ]]; then
		target=${PWD}
	fi
	local dir=""
	if ! git rev-parse --is-inside-work-tree &>/dev/null; then
		exit 1
	fi
	dir=$(git worktree list | sed 's@^\./@@' | fzf -d / --nth -1 --reverse -0 --cycle --height 100% | cut -d' ' -f1)
	[[ -z $dir ]] || cd $dir
}

# push to bottom of stack
push() {
	local target="$@"
	if [[ $# -eq 0 ]]; then
		target=${PWD}
	fi
	builtin pushd "$target" > /dev/null
	builtin dirs -v > /dev/null
	builtin pushd -1 > /dev/null 2>&1
}

# pop from bottom of stack
pop() {
	builtin pushd +1 > /dev/null 2>&1
	builtin popd >/dev/null 2>&1
}

path() {
	local target="${1:-${PWD}}"
	realpath $target | copy
}

wlog() {
	local dir=$(find "$LOG_DIR" \
		-name "*" \
		-type f 2>/dev/null | sed 's@^\./@@' | fzf -d / --nth -1 --reverse -0 --cycle --height 100%)
}

